/* 
  TODO #3: add code for adaptive design 
 */

* {
    padding: 0px;
    margin: 0px;
    font-family: "courier";
    font-size: 100%;
}

#menu, #header, #main-panel {min-width: 240px;}
#menu { height: 24px; min-width: 240px; border-bottom: 1px solid blue; }

.panel { border: 0px solid black; }
.flat { float: right; }
.menu { float: left; }
.menu-button { display: block; padding: 2px; min-width: 60px; text-decoration: none;}
.group { display: none; }
.editable { width: 80px; border-radius: 3px; padding-left: 2px; height: 20px; }