#page-container {}
#page-header {
    text-align: center;
    background-color: #eeeecc;
    border: 1px solid #e0e0c0;
    height: 0px;
    margin-bottom: 0px;
    padding: 60px;
}
#page-footer {
    height: 0px;
    text-align: center;
    background-color: #eeeecc;
    border: 1px solid #e0e0c0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 40px;
}
#page-content {
    padding:10px;
    background-color: #eeeedd;
    border: 1px solid #e0e0c0;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    min-width: 800px;
}
#page-aside-content { display: none; }
#page-primary-menu {
    text-align: justify;
    background-color: #eeeecc;
    border: 1px solid #e0e0c0;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#form-login{ display: inline-block; float: right; }

.node {}
.node-title {}
.node-body {}
.node-additional-info {}

.form {}
.form-group {}
.form-element {}

.menu {}
#page-primary-menu .link {
    display: inline-block;
    padding: 5px; 
    margin: 1px;
    text-decoration: none;
}
#page-primary-menu .link:hover { text-decoration: underline; }
.menu-link {}