* {
    font-family: 'Courier New',Courier,monospace;
    border: none;
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6 {margin-bottom:5px; text-align:center; padding-bottom:5px;}
li {margin-left: 50px;}
ul, ol {margin:5px;}

body {background-color: #def; }

input, textarea, select, option {
    border:1px solid #ddd;
    padding: 2px;
    margin: 2px;
}

blockquote {margin-left:30px;}

hr {border:1px solid #ddd; width:80%;margin:5px;}

/*article, header, aside, section { display: inline-block;}*/

input[type='submit'] {
    border: 2px outset #ddd;
}

#page-container {
    position:absolute;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    margin-top: 10px;
    border: 1px solid #ccf;
    border-radius:20px;
    display:block;
    background-color: white;
}
#page-header {
    width:920px;
    margin:10px;
    height: 60px;
    border: 1px solid #ccf;
    border-radius:10px;
    display: inline-block;
    text-align:right;
    font-size:32px;
    font-weight:bold;
    padding: 10px;
    background-color: #def; 
}
#page-content {
    width:710px;
    margin:10px;
    margin-left: -1px;
    padding:10px;
    display: inline-block;
    border-left: 1px solid #ccf;
}
#page-aside-content {
    border-right: 1px solid #ccf;
/*    border-bottom: 1px solid #def;*/
    float:left;
    width:180px;
    margin:5px;
    margin-right:0px;
    margin-top: 20px;
    padding:10px;
    padding-right: 0px;
    display: inline-block;
}

#page-primary-menu {
    width:920px;
    display: inline-block;
    margin-left:10px;
    padding-left: 20px;
    margin-bottom: 5px;
    border-bottom:1px solid #ccf;
}
#page-primary-menu .link {
    display: inline-block; 
    width: 100px; 
    padding: 3px; 
    margin:1px;
}
#page-footer {
    display: inline-block;
    width:940px;
    margin:10px;
    padding-top:2px;
    font-size: 11px;
    text-align: right;
    border-top:1px solid #ccf;
}

.node {
    border: 1px solid #ccf;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    /* width:730px; */
}

.node .node-title {
    display: inline-block;
    border:1px solid #ccf;
    border-radius:10px;
    width:300px;
    height:16px;
    position:relative;
    top:-15px;
    margin-left:20px;
    background-color: #def;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
}

.node .node-additional-info {
    color:silver;
    font-size: 10px;
    margin-top: -10px;
    border-bottom: 1px solid #ccf;
    padding:0px 0px 1px 5px;
    font-family: "Arial";
}

.node .node-body{
    padding:5px;
    min-width:600px;
    position: relative;
}

.menu{
    display: inline-block;
}
.primary-menu{
    width: 120px;
    border: 1px solid #ccf;
    background-color: #def;
    border-bottom-width: 0px;
    text-align: center;
    margin: 2px 2px 0px 5px;
    padding: 3px;
    text-decoration: none;
    border-radius:5px 5px 0px 0px;
}

.primary-menu:hover{
    background-color: #fff;
    border-color: #cde;
}

.secondary-menu{
    width: 170px;
    border: 1px solid #ccf;
    background-color: #def;
    border-right-width: 0px;
    text-align: center;
    margin: 2px 0px 0px 2px;
    padding: 3px;
    text-decoration: none;
    border-radius:5px 0px 0px 5px;
}

.secondary-menu:hover{
    background-color: #fff;
    border-color: #cde;
}

#form-login{ display: inline-block; float: right; }
.login-field { width: 120px; }
.user-login {
    border:2px solid #cde;
    border-radius:3px;
    width:20px;
    background-color: #def;
}

.property {margin-left:40px;}
.property li {list-style: circle;}
.property li a {text-decoration: none;}

.tbl-content {
    width:96%; 
    border: 1px solid #cde; 
    margin-top: 5px; 
    margin-bottom: 5px;
}
.tbl-content td {padding-left: 5px; }
.tbl-header {
    text-align: center;
    border: 1px solid #cde;
    background-color: white;
}

.browse {
    margin-left:30px; 
    width:200px; 
    border-bottom:1px solid #cde; 
    text-align:center;
}
.browse a {
    text-decoration: none;
    font-size: 110%;
}