.color-0 {background-color: white;}
.color-1 {background-color: #def;}
.color-2 {background-color: #cde;}
.color-3 {background-color: black;}

.white {color:white;}
.red {color:red;}
.green {color:green;}
.blue {color:blue;}
.black {color:black;}

.width-20 {width:20px;}
.width-50 {width:50px;}
.width-100 {width:100px;}
.width-200 {width:200px;}
.width-300 {width:300px;}
.width-400 {width:400px;}
.width-500 {width:500px;}

.width-20p {width:20%;}
.width-50p {width:50%;}
.width-75p {width:75%;}
.width-80p {width:80%;}
.width-90p {width:90%;}

.height-100 {height:100px;}
.height-200 {height:200px;}
.height-300 {height:300px;}

.center {text-align:center;}
.left {text-align: left;}
.right {text-align: right;}

.bold {font-weight: bold;}
.seek {font-weight: lighter;}
.normal{font-weight: normal;}

.glue-left { float: left; }
.glue-right { float: right; }

.pd0 {padding: 0px; }
.pd1 {padding: 1px; }
.pd2 {padding: 2px; }
.pd5 {padding: 5px; }

.mg0 { margin: 0px; }
.mg1 { margin: 1px; }
.mg2 { margin: 2px; }
.mg5 { margin: 5px; }
